body{
  text-align: center;
    background-color: pink;
}

h1, h4{
  font-family: "PT Sans",Helvetica, Arial, sans-serif;
  color:purple;
}

p,ul{
  font-family: "IM Fell Great Primer", Georgia, "Times New Roman", serif;
  color:orange;
  font-weight: bold;
  text-align: center;
}

ul{
list-style-type: none;
padding: 0;
}

img{
  border-style: none;
}



header{
  display:flex;
  flex-flow:row;
  margin: 0;
  padding:0 10px;
}

.menu-trigger{
  order:1;
  font-size:1.75em;
  width:2em;
  color:red;
  padding:0;
  text-decoration:none;
}

header h1{
  order:2;
}

#list {
  display: none;
}

#list a:link, a:visited{
  text-decoration:none;
  color:#0FB2A8;
  font-weight:800;
}

#list a:hover{
  color:#97FFFB;
}

#list li{
  display:block;
  padding: 14px 16px;
}

#list ul{
  display:flex;
  flex-direction:column;
  flex-wrap: wrap;
  justify-content:center;
  align-content: center;
}


.container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}


  .text{
    flex-grow: 2;
  }

  .image {
      display: block;
      border-style: none;
  }

  .map-wrapper {
      overflow:hidden;
      padding-bottom:56.25%;
      position:relative;
      height:0;
  }

  .map-wrapper iframe{
      left:0;
      top:0;
      height:100%;
      width:100%;
      position:absolute;
  }

  .footer{
  position: absolute;
  color: black;
  font-size: 1rem;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding:4px;
  text-align: center;
  }


  @media (min-width: 600px) {
  	#list{
  		flex-direction: row;
  		justify-content: center;
    }
    .image{
      float:left;
      }
}

    @media screen and (min-width: 800px) {
          .image{
            float:left;
          }
          .text{
            justify-content: center;
          }
          #list {
            display:flex;
          }

          #list ul li{
            border-top:none;
          }

          .menu-trigger{
          display:none;
          }

          header h1{
            order: 1;
          }

          #list{
            order:2;
          }

}


@media screen and (min-width:1000px){
  #container{
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-gap:20px;
    grid-template-areas:
    "a b b"
    ". c c"
    ". c c"
  }
  .image{
    grid-area:a;
  }
  .text{
    grid-area:b;
  }
  .text1{
    grid-area:c;
  }
  .image{
    min-width: 600px;
  }
}
